<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/css/testcss.css">
<body>

    <link rel="stylesheet" href="testcss.css">
    <div id="mainContainer">
        <div id="mainContentBG">
            <div id="mainContent">
                <div id="homeBanner">
                    <div id="headingContainer">
                        <a href="http://www.tamucc.edu/">
                            <img alt="" id="headingRefresh" src="successlogo.png" width="948">
                        </a>
                    </div>
                </div>
                <div id="homeNav">
                    <div class="homeNavBtnInternal">
                        <a href="http://www.tamucc.edu/">University Home</a>
                    </div>
                    <div class="homeNavBtnInternal">
                        <a href="http://www.tamucc.edu/about/">About Us</a>
                    </div>
                    <div class="homeNavBtnInternal">
                        <a href="http://www.tamucc.edu/academics/">Academics</a>
                    </div>
                    <div class="homeNavBtnInternal">
                        <a href="http://prospect.tamucc.edu/">Become an Islander</a>
                    </div>
                    <div class="homeNavBtnInternal">
                        <a href="http://www.tamucc.edu/news/">University News</a>
                    </div>
                    <div class="homeNavBtnInternal">
                        <a href="http://www.goislanders.com/" target="_blank">Athletics</a>
                    </div>
                </div>
                <!-- Bottom section major container of page -->
                <div id="homeBottomContainer">
                    <!--Left Navigation Section of Page -->
                    <div id="audienceNavContainer">

                        <ul id="audienceNav">
                            <li class="activePage">
                                <a href="index.html">            Home
                                    </a>
                            </li>
                            <li class="">
                                <a href="SuccessApplication.html">            Apply Here
                                    </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Body Copy starts here -->

                    <div id="intWideCopy">
                        <div id="thumbContainer">
                            <!-- Page Heading -->
                            <!-- Body Content -->
                            <div id="intBodyCopy">
                                <p>OVERVIEW:</p>
                                <p>Supporting Undergraduates for Careers in Computing and Engineering with Scholarships and Supervision (SUCCESS) has the goal of expanding the STEM pool by providing scholarships to academically talented and financially needy entering freshman or transferring regional community college students into engineering and computer science (ECS) majors at Texas A&M University-Corpus Christi (TAMU-CC), a Hispanic-Serving Institution, to allow them to complete a baccalaureate degree.</p>
                                <p>BENEFITS: </p>
                                <ul>
                                    <li>$7,000 Scholarship award per academic year </li>
                                    <li>Up to 8 semesters of funding ($28,000)</li>
                                    <li>Undergraduate Research Fellowship Priority Consideration </li>
                                    <li>Student-Student mentoring with a junior or senior TAMU-CC mentor</li>
                                    <li>Faculty-Student mentoring based on discipline faculty members will be assigned a small group of students</li>
                                    <li>Industry-Student mentoring from industry volunteers will mentor SUCCESS scholars</li>
                                </ul>
                                <p>SCHOLARSHIP&nbsp;ELIGIBILITY:</p>
                                <ul>
                                    <li>Be accepted to TAMU-CC in Engineering or Computer Science major</li>
                                    <li>US Citizen or US Permanent Resident</li>
                                    <li>Demonstrate academic potential in an Engineering or Computer Science field</li>
                                    <li>Maintain full-time enrollment in an Engineering or Computer Science major</li>
                                    <li>Maintain cumulative GPA > 2.9</li>
                                </ul>
                                <p>SCHOLARSHIP APPLICATION REQUIREMENTS: </p>
                                <ul>
                                    <li>Complete a SUCCESS Scholarship Application Form with three letters of recommendation</li>
                                    <li>Write a 300-500 word essay describing your interest and goals for your major</li>
                                    <li>Qualify for financial aid, as determined by TAMU-CC Financial Aid Office (must complete FAFSA form)</li>
                                    <li>Submit a current resume</li>
                                    <li>High school transcript(s)</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!--homeBottomContainer-->
            </div>
        </div>
    </div>
    <div class="clearFloat"></div>
    <div id="footerSpacer"></div>
    <div id="footer">

        <div id="footerContent">
            <div class="footerCol">
                <div class="footerColContent">
                    <h3>About the University</h3>
                    <ul class="footerList">
                        <li>
                            <a href="http://www.tamucc.edu/about/history.html">History of the University</a>
                        </li>
                        <li>
                            <a href="http://www.tamucc.edu/about/location/">Our Location</a>
                        </li>
                        <li>
                            <a href="http://www.tamucc.edu/about/spirit.html">Spirit and Traditions</a>
                        </li>
                        <li>
                            <a href="http://www.goislanders.com/" target="_blank">Islander Athletics</a>
                        </li>
                        <li>
                            <a href="http://tamucc.edu/marcom/diversity/">Diversity</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footerCol">
                <div class="footerColContent">
                    <h3>Research &amp; Academics</h3>
                    <ul class="footerList">
                        <li>
                            <a href="http://www.tamucc.edu/academics/colleges/index.html">University Colleges</a>
                        </li>
                        <li>
                            <a href="http://harteresearchinstitute.org/" target="_blank">Harte Research Institute</a>
                        </li>
                        <li>
                            <a href="http://cbi.tamucc.edu/" target="_blank">Conrad Blucher Institute</a>
                        </li>
                        <li>
                            <a href="http://academicaffairs.tamucc.edu/">Academic Affairs</a>
                        </li>
                        <li>
                            <a href="http://www.tamucc.edu/academics/azdegrees.html">A-Z Degrees</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footerCol">
                <div class="footerColContent">
                    <h3>Quick Links</h3>
                    <ul class="footerList">
                        <li>
                            <a href="https://islander.tamucc.edu/mail/" target="_blank">Islander E-mail</a>
                        </li>
                        <li>
                            <a href="http://phonebook.tamucc.edu/">University Directory</a>
                        </li>
                        <li>
                            <a href="http://sail.tamucc.edu/">S.A.I.L.</a>
                        </li>
                        <li>
                            <a href="https://bb9.tamucc.edu/" target="_blank">Blackboard</a>
                        </li>
                        <li>
                            <a href="http://imagegallery.tamucc.edu/">Image Gallery</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footerCol">
                <div class="footerColContentLast">
                    <h3>Visitor Information</h3>
                    <ul class="footerList">
                        <li>
                            <a href="http://tour.tamucc.edu/welcomecenter.html">Islander Welcome Center</a>
                        </li>
                        <li>
                            <a href="http://imagegallery.tamucc.edu/maps.html">Campus Map</a>
                        </li>
                        <li>
                            <a href="http://tour.tamucc.edu/">Tour the Campus</a>
                        </li>
                        <li>
                            <a href="http://outreach.tamucc.edu/">Community Outreach</a>
                        </li>
                        <li>
                            <a href="http://pac.tamucc.edu/">Performing Arts Center</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearFloat">&#160;</div>
            <div class="footerSystem">
                <div id="footerNav">
                    <a href="http://www.tamus.edu/" target="_blank">
                        <img alt="Texas A&amp;M System" class="tamus" src="//www.tamucc.edu/images/homepage/tamus.png" height="46" width="60"/>
                    </a>
                     Texas A&amp;M University-Corpus Christi &#8226; 6300 Ocean Dr., Corpus Christi, TX. 78412 &#8226; 361.825.5700
                    <br/>
                    <a href="http://www.tamucc.edu/about/accreditation.html">Accreditation</a>
                     &#8226; 
                    <a href="http://www.tamucc.edu/about/contactus.html">Contact Us</a>
                     &#8226; 
                    <a href="http://www.tamucc.edu/about/employment.html">Employment</a>
                     &#8226; 
                    <a href="http://www.tamucc.edu/about/privacy.html">Privacy Statement</a>
                     &#8226; 
                    <a href="http://www.tamucc.edu/about/accessibility.html">Accessibility</a>
                     &#8226; 
                    <a href="http://www.tamucc.edu/about/open_records.html"> Open Records</a>
                     &#8226; 
                    <a href="https://secure.ethicspoint.com/domain/en/report_custom.asp?clientid=19681" target="_blank">Risk, Fraud &amp; Misconduct Hotline</a>
                    <br/>
                    <a href="http://phonebook.tamucc.edu/">Directory</a>
                     &#8226; 
                    <a href="http://veterans.portal.texas.gov/en/Pages/default.aspx">Veterans Portal</a>
                     &#8226; 
                    <a href="http://www.state.tx.us/" target="_blank">Texas Web Site</a>
                     &#8226; 
                    <a href="http://www.texashomelandsecurity.com/" target="_blank">Texas Homeland Security</a>
                     &#8226; 
                    <a href="http://www.tsl.state.tx.us/trail/index.html" target="_blank">TRAIL</a>
                     &#8226; 
                    <a href="http://www.tamucc.edu/about/CS_Standards_Report2008.pdf" target="_blank">Compact with Texans</a>
                     &#8226; 
                    <a href="http://physicalplant.tamucc.edu/general/plans/energy/">Energy Management</a>
                </div>
                <div class="footerIcons">
                    <div class="footerIconsTop">&#160;</div>
                    <div class="footerIconsContent">
                        <a href="http://www.facebook.com/islanduniversity" target="_blank" title="Like us on Facebook!">
                            <img alt="Like us on Facebook" src="//www.tamucc.edu/images/homepage/footer_facebook.png"/>
                        </a>
                        <a href="http://www.twitter.com/IslandCampus" target="_blank" title="Follow us on Twitter!">
                            <img alt="Follow us on Twitter" src="//www.tamucc.edu/images/homepage/footer_twitter.png" height="32" width="32"/>
                        </a>
                        <a href="http://www.youtube.com/tamuccvideogallery" target="_blank" title="View our videos on Youtube!">
                            <img alt="Check out our Youtube video gallery" src="//www.tamucc.edu/images/homepage/footer_youtube.png" height="32" width="32"/>
                        </a>
                        <a href="http://imagegallery.tamucc.edu/" target="_blank" title="Browse our Image Gallery">
                            <img alt="View our albums on Flickr" src="//www.tamucc.edu/images/homepage/footer_flickr.png" height="32" width="32"/>
                        </a>
                        <a href="http://www.foursquare.com/IslandCampus" target="_blank" title="Check in on Foursquare!">
                            <img alt="Find us on FourSquare" src="//www.tamucc.edu/images/homepage/footer_4sq.png" height="32" width="32"/>
                        </a>
                        <a href="http://plus.google.com/+tamucc/" target="_blank" title="Check us out on Google+!">
                            <img alt="Follow us on Google+" src="//www.tamucc.edu/images/homepage/footer_google.png" height="32" width="32"/>
                        </a>
                        <a href="https://www.linkedin.com/edu/school?id=19495" target="_blank" title="Connect with us on LinkedIn!">
                            <img alt="Connect with us on LinkedIn" src="//www.tamucc.edu/images/homepage/footer_linkedin.png" height="32" width="32"/>
                        </a>
                        <a href="http://instagram.com/island_university" target="_blank" title="Visit us on Instagram!">
                            <img alt="Visit us on Instagram" src="//www.tamucc.edu/images/homepage/footer_instagram.png" height="32" width="32"/>
                        </a>
                        <a href="mailto:marcom@tamucc.edu" target="_blank" title="Send us an e-mail!">
                            <img alt="E-mail the University" src="//www.tamucc.edu/images/homepage/footer_email.png" height="32" width="32"/>
                        </a>
                        <a href="http://www.tamucc.edu/news/rss-all.rss" target="_blank" title="Subscribe to our RSS feed!">
                            <img alt="Subscribe to our RSS feeds" src="//www.tamucc.edu/images/homepage/footer_rss.png" height="32" width="32"/>
                        </a>
                    </div>
                    <div class="footerIconsBtm">&#160;</div>
                    <div id="footerNavBtm">
                        <a href="http://budgetfaq.tamucc.edu/">Budget F.A.Q.</a>
                         &#8226; 
                        <a href="http://police.tamucc.edu/campus_security_act.html">Campus Security and Fire Safety Report</a>
                         &#8226; 
                        <a href="http://codeblue.tamucc.edu/about/">Code Blue</a>
                         &#8226; 
                        <a href="http://safety.tamucc.edu/Hurricane.html">Hurricane Plan</a>
                         &#8226; 
                        <a href="http://pir.tamucc.edu/">Planning and Institutional Research</a>
                        <br/>
                        <a href="http://www.tamucc.edu/marcom/complaints/">Complaint Resolution</a>
                         &#8226; 
                        <a href="http://www.txhighereddata.org/approot/resumes/ir_launch.htm" target="_blank">Online Institutional Resumes</a>
                         &#8226; 
                        <a href="http://rattler.tamucc.edu/Syllabi_Courses">Course Syllabi and Instructor Information</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

